{% extends "smsapp/index.html" %}

{% load static %}

{% block title %}Speedwise : Client Profile {% endblock %}

{% block navbar_title %}Client Profile{% endblock %}

{% block link %}
  <ul class="navbar-nav">
    <a href="{% url 'clients' %}" class="ml-2">Back</a>
  </ul>
{% endblock %}

{% block content %}
  <div class="card-user">
    <div class="image">
      <img src="{% static 'assets/img/damir-bosnjak.jpg' %}" alt="...">
    </div>
    <div class="card-body">
      <div class="author">
        <a href="#">
          <img class="avatar border border-primary-gray" src="/media/{{client.logo }}" alt="...">
          <h5 class="title">{{ client.user }}</h5>
        </a>
        <p class="description">
            {{ client.mobile }}
        </p>
      </div>
      <p class="description text-center">
            <div class="row mt-3 p-5">
                <div class="col-6">
                  <form action="{% url 'addcredit' client.id %}" method="POST" enctype="multipart/form-data"></form>
                  {% csrf_token %}
                    <input type="number" id="credit" name="credit" class="form-control" placeholder="Add Credits">
                    <div class="text-center">
                      <button type="submit" class="btn btn-danger btn-sm btn-block "><i class="nc-icon nc-simple-add"></i> Add Credit</button>
                    </div>
                  </form>
                </div>
                <div class="col-6">
                  <form action="{% url 'setclientcredit' client.id %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="number" id="credit_limit" name="credit_limit" class="form-control" placeholder="Set Credit Limit">
                    <div class="text-center">
                      <button type="submit" class="btn btn-danger btn-block btn-sm "><i class="nc-icon nc-simple-add"></i> Set Credit Limit</button>
                    </div>
                  </form>
                </div>
                
            </div>
            <div class="row mt-1 p-5">
              <div class="col-6">
                <form action="changeclientlogo" method="POST" enctype="multipart/form-data">
                  {% csrf_token %}
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" id="logo" name="logo">
                    <label class="custom-file-label" for="logo">Choose file</label>
                  </div>
                  <div class="text-center">
                    <button type="submit" class="btn btn-danger btn-block btn-sm "><i class="nc-icon nc-simple-add"></i> Change Logo</button>
                  </div>
                </form>
              </div>
              <div class="col-6">
                <form action="{% url 'allowedcountriesforclients' client.id %}" method="POST" enctype="multipart/form-data">
                  {% csrf_token %}
                  <select class="js-example-basic-multiple" name="states[]" multiple>
                    {% for country in client.countries.all %}<option value="{{ country.id }}" selected>{{ country }}</option>{% endfor %}
                    {% for country in countries %}
                      {% if country not in client.countries.all %}
                      <option value="{{country.id}}">{{country}}</option>
                      {% endif %}
                    {% endfor %}
                  </select>
                  <div>
                    <button type="submit" class="btn btn-block btn-danger btn-sm "><i class="nc-icon nc-simple-add"></i> Modify Allowed Country List</button>
                  </div>
                </form>
              </div>
            </div>
            <div class="row  pl-5 pr-5">
              <div class="col-12">
                <div class="card p-3 border border-primary-danger-2 shadow">
                  <div class="row">
                    <div class="col-12">
                      <a href="javascript:void(0)" class="btn btn-round btn-sm btn-danger shadow float-right mr-2" data-toggle="modal" data-target="#myModal"><i class="nc-icon nc-simple-add"></i> User</a>
                    </div>
                  </div>
                  <table class="table mt-4 table-hover">
                    <tr class="text-center">
                      <th id="th">Sub Users <i class="nc-icon nc-minimal-down float-right mr-2"></i></th>
                    </tr>
                    <tr id="demo">
                      {% for subuser in clientsubusers %}
                      <tr class="text-center"  >
                        <td class="d-none">{{subuser}}</td>
                      </tr>
                      {% endfor %}
                    </tr>
                  </table>
                </div>
              </div>
              
              <!-- Modal -->
              <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form action="{% url 'clients_sub_users' %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Add SubUsers</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            {{ userform.as_p }}
                            {{ clientsubuserform.as_p }}
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary btn-sm">Add</button>
                        </div>
                    </form>
                </div>
                </div>
            </div>
            <!-- Add modal end  -->
            
    </div>
  
    <div class="card-footer">
      <hr>
      <div class="button-container">
        <div class="row">
          <div class="card p-2 bg-primary border border-primary shadow text-white col-lg-3 col-md-6 col-6 ml-auto">
            <h5>{{ client.credit_in }}<br><small>Credits</small></h5>
          </div>
            <div class=" card p-2 bg-warning border border-danger shadow text-white  col-lg-3 col-md-6 col-6 ml-auto">
            <h5>{{ client.credit_limit }}<br><small>Credit Limit</small></h5>
          </div>
            
          <div class="card p-2 bg-success border border-success shadow text-white card col-lg-3 col-md-6 col-6 ml-auto mr-auto">
            <h5>{{ client.operator }}<br><small>Operator</small></h5>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block add_script %}
  <script
    src="https://code.jquery.com/jquery-2.2.4.js"
    integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
    crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
  <script>$(document).ready(function() {
          $('.js-example-basic-multiple').select2();
      });
  </script>
  
  <script>
    // Add the following code if you want the name of the file appear on select
    $(".custom-file-input").on("change", function() {
    var fileName = $(this).val().split("\\").pop();
    $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
  </script>

  <script>
    $(document).ready(()=>{
      $('#th').on('click',()=>{
        $('td').toggleClass('d-none')
      })
    })
  </script>
{% endblock %}