{% extends "smsapp/index.html" %}

{% block title %}Speedwise : Clients{% endblock %}

{% block navbar_title %}Clients{% endblock %}

{% block content %}
  
  <div class="">
    <button class="btn btn-success btn-sm  float-right mr-5" data-toggle="modal" data-target="#exampleModal"> <i class="nc-icon nc-simple-add mr-1"></i>Add</button>
  </div>
  <div class="table-responsive mt-4">
    <table class="table  mt-4 ml-4" style="width:100%;">
      <thead class="text-primary">
        <tr class="mt-0" >
          <th><h5>Clients</h5></th>
          <th><h5>Edit</h5></th>
          <th><h5>Delete</h5></th>
        </tr>
      </thead>
      <tbody >
        {% for client in clients %}
        <tr>
          <td><h6>{{client}}</h6></td>
          <td><h6 class="ml-2"><a href="javascript:void(0)" class="text-secondary"><i class="fa fa-edit"></i></a></h6></td>
          <td ><h6 class="ml-2"><a href="{% url 'deleteuser' client.id %}" class="text-danger"><i class="fa fa-trash"></i></a></h6></td>
        </tr>
        {% endfor %}

      </tbody>
    </table>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form action="{% url 'clients' %}" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add Clients</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            
              <div class="row p-2">
                <span class="mb-1">Username :</span> 
                {{ userform.username }}
              </div>
              <div class="row p-2">
                <span class="mb-1">Password :</span> 
                {{ userform.password1 }}
              </div>
              <div class="row p-2">
                <span class="mb-1">Password :</span> 
                {{ userform.password2 }}
              </div>
              <div class="row p-2">
                <span class="mb-1">First Name :</span> 
                {{ userform.first_name }}
              </div>
              <div class="row p-2">
                <span class="mb-1">Last Name :</span> 
                {{ userform.last_name }}
              </div>
              <div class="row p-2">
                <span class="mb-1">Mobile :</span> 
                {{ clientform.mobile }}
              </div>
              <div class="row p-2">
                <span class="mb-1">Logo :</span> 
                {{ clientform.logo }}
              </div>
              <div class="row p-2">
                <span class="mb-1">Operator :</span> 
                {{ clientform.operator }}
              </div>
              <div class="row p-2">
                <span class="mb-1">Credits In :</span> 
                {{ clientform.credit_in }}
              </div>
              <div class="row p-2">
                <span class="mb-1">Credits Out :</span> 
                {{ clientform.credit_out }}
              </div>
              <div class="row p-2">
                <span class="mr-1">Active Status :</span> 
                {{ clientform.is_active }}
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary btn-sm">Save</button>
            </div>
        </form>
      </div>
    </div>
  </div>
  <!-- Button HTML (to Trigger Modal) -->
	<!-- <a href="#myModal" class="trigger-btn" data-toggle="modal">Click to Open Confirm Modal</a> -->
{% endblock %}

{% block add_script %} 
  <script
    src="https://code.jquery.com/jquery-2.2.4.js"
    integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
    crossorigin="anonymous">
  </script>
  <script>
    $(document).ready(()=>{
      console.log("reshmi raj")
      $('#id_password1').attr('class','form-control')
      $('#id_password2').attr('class','form-control')
      $('li').removeClass('active')
      $('#li2').addClass('active')
    })
  </script>
{% endblock %}


