{% extends "smsapp/index.html" %}

{% block title %}Speedwise : Clients{% endblock %}

{% block navbar_title %}Clients{% endblock %}

{% block content %}
  
  <div class="">
    <button class="btn btn-success btn-sm  float-right mr-5" data-toggle="modal" data-target="#exampleModal"> <i class="nc-icon nc-simple-add mr-1"></i>Add</button>
  </div>

  <div class="table mt-4" style="width: 96% !important;">
    <table class="table  mt-4 ml-4" style="width:100%;">
      <thead class="text-primary">
        <tr class="mt-0" >
          <th><h5>Clients</h5></th>
          <th><h5>Credits</h5></th>
          <th><h5>Edit</h5></th>
          <th><h5>Delete</h5></th>
        </tr>
      </thead>
      <tbody >
        {% for client in clients %}
        <tr>
          <td><h6>{{client}}</h6></td>
          <td><h6>{{client.credit_in}}</h6></td>
          <td><h6 class="ml-2"><a href="{% url 'clientprofile' client.id %}" class="text-secondary" ><i class="fa fa-edit"></i></a></h6></td>
          <td ><h6 class="ml-2"><a href="javascript:void(0)" class="text-danger" data-toggle="modal" data-target="#myModal{{client.id}}"><i class="fa fa-trash"></i></a></h6></td>
        </tr>
        <!-- Modal edit -->
          <div class="modal fade" id="exampleeditModal{{client.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form action="{% url 'clients' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Client Profile</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <label for="user"> User :</label>
                        <select name="user" id="user" class="form-control mb-1">
                          <option value="{{client.user.id}}" selected>{{client.user}}</option>
                        </select>
                        <label for="mobile"> Mobile :</label>
                        <input type="text" name="mobile" class="form-control mb-1" value={{client.mobile}}>
                        <label for="own_country"> Country :</label>
                        <select name="own_country" id="own_country" class="form-control mb-1">
                          <option value="{{client.country.id}}" selected>{{client.country}}</option>
                          {% for country in countries %}
                            <option value="{{country.id}}">{{country.name}}</option>
                          {% endfor %}
                        </select>
                        <label for="email">Email :</label>
                        <input type="text" name="email" class="form-control mb-1" value={{client.user.email}}>
                        <label for="logo">Logo :</label>
                        <input type="file" name="logo" class="form-control mb-1" value={{client.logo}} accept="image/*">
                        <label for="operator"> Operator :</label>
                        <select name="operator" id="operator" class="form-control mb-1">
                          <option value="{{client.operator.id}}" selected>{{client.operator}}</option>
                          {% for operator in operators %}
                            <option value="{{operator.id}}">{{operator.name}}</option>
                          {% endfor %}
                        </select>
                        <label for="credin">Credit In :</label>
                        <input type="number" name="credin" class="form-control mb-1" value={{client.credit_in}}>
                        <label for="credout">Credit Out :</label>
                        <input type="number" name="credout" class="form-control mb-1" value={{client.credit_out}}>
                        <label for="credlimit">Credit Limit :</label>
                        <input type="number" name="credlimit" class="form-control mb-1" value={{client.credit_limit}}>
                        <div class="mt-2 mb-2">
                            <label for="country">Status :</label>
                        
                            {% if client.is_active == True %}
                              <input type="checkbox" name="active_status" class="mt-1" checked>
                            {% else %}
                              <input type="checkbox" name="active_status" class="mt-1">
                            {% endif %}
                        </div>
                        <label for="country"> Country :</label>
                        <select name="country" id="country" class="form-control mb-1">
                          <option value="{{client.countries}}" selected>{{client.countries}}</option>
                          {% for country in countries %}
                            <option value="{{country.countries}}" >{{country.countries}}</option>
                          {% endfor %}
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary btn-sm">change</button>
                    </div>
                </form>
            </div>
            </div>
        </div>
        <!-- edit modal end  -->
        <!-- Modal HTML -->
          <div id="myModal{{client.id}}" class="modal fade">
            <div class="modal-dialog modal-confirm">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="row " style="margin-left: 120px;">
                            <div class="icon-box">
                                <i class="fas fa-times"></i>
                            </div>	
                        </div>
                        <div class="row">
                            
                        </div>
                                            
                        
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <h4 class="mb-3 mt-0">Are you sure?</h4>
                        <p>Do you really want to delete these records? This process cannot be undone.</p>
                    </div>
                    <div class="modal-footer row" style="padding: 12px 53px 25px;">
                        <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
                        <a href="{% url 'deleteuser' client.id %}" class="btn btn-danger text-white pt-2">Delete</a>
                    </div>
                </div>
            </div>
        </div>  
        <!-- delete modal end  -->
        {% endfor %}

      </tbody>
    </table>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form action="{% url 'clients' %}" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add a Client</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            
              <div class="row p-2">
                <span class="mb-1">Username :</span> 
                {{ userform.username }}
              </div>
              <div class="row p-2">
                <span class="mb-1">Password :</span> 
                {{ userform.password1 }}
              </div>
              <div class="row p-2">
                <span class="mb-1">Retype password :</span>
                {{ userform.password2 }}
              </div>
              <div class="row p-2">
                <span class="mb-1">First Name :</span> 
                {{ userform.first_name }}
              </div>
              <div class="row p-2">
                <span class="mb-1">Last Name :</span> 
                {{ userform.last_name }}
              </div>
              <div class="row p-2">
                <span class="mb-1">Email :</span>
                {{ userform.email }}
              </div>
              <div class="row p-2">
                <span class="mb-1">Mobile :</span> 
                {{ clientform.mobile }}
              </div>
              <div class="row p-2">
                <span class="mb-1">Country :</span>
                {{ clientform.country }}
              </div>
              <div class="row p-2">
                <span class="mb-1">Logo :</span> 
                <div class="custom-file">
                  {{ clientform.logo }}
                  <label class="custom-file-label" for="customFile">Choose file</label>
                </div>
              </div>
              <div class="row p-2">
                <span class="mb-1">Operator :</span> 
                {{ clientform.operator }}
              </div>
              <div class="row p-2">
                <span class="mb-1">Credits In :</span> 
                {{ clientform.credit_in }}
              </div>
              <div class="row p-2">
                <span class="mb-1">Credits Out :</span> 
                {{ clientform.credit_out }}
              </div>
              <div class="row p-2">
                <span class="mb-1">Credits Limit :</span>
                {{ clientform.credit_limit }}
              </div>
              <div class="row p-2">
                <span class="mb-1">Block Countries:</span>
                <select class="js-example-basic-multiple" name="countries[]" multiple  id="countries">
                  <option selected hidden >None</option>
                  {% for country in countries %}
                     <option value="{{ country.id }}">{{ country }}</option>
                  {% endfor %}
              </select>
              </div>
              <div class="row p-2">
                <span class="mb-1">Theme :</span>
                {{ clientform.color }}
              </div>
              <div class="row p-2">
                <span class="mr-1">Active Status :</span> 
                {{ clientform.is_active }}
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary btn-sm">Save</button>
            </div>
        </form>
      </div>
    </div>
  </div>
  <!-- Button HTML (to Trigger Modal) -->
	<!-- <a href="#myModal" class="trigger-btn" data-toggle="modal">Click to Open Confirm Modal</a> -->
{% endblock %}

{% block add_script %} 
  
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
  <script>$(document).ready(function() {
          $('.js-example-basic-multiple').select2();
      });</script>
  <script>
    $(document).ready(()=>{
      console.log("reshmi raj")
      $('#id_password1').attr('class','form-control mb-1')
      $('#id_password2').attr('class','form-control mb-1')
      $('li').removeClass('active')
      $('#li2').addClass('active')
    })
  </script>
  <script>
    // Add the following code if you want the name of the file appear on select
    $(".custom-file-input").on("change", function() {
      var fileName = $(this).val().split("\\").pop();
      $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
    </script>
    
    
{% endblock %}


