{% extends "smsapp/index.html" %}

{% block title %}Speedwise : Contacts{% endblock %}

{% block navbar_title %}Contact Groups{% endblock %}

{% block content %}
    <div class="">
        <button class="btn btn-success btn-sm  float-right mr-5" data-toggle="modal" data-target="#exampleModal"> <i class="nc-icon nc-simple-add mr-1"></i>Add</button>
    </div>
    <div class="table mt-4" style="width: 96% !important;">
        <table class="table  mt-4 ml-4" style="width:100%;">
        <thead class="text-primary">
            <tr class="mt-0" >
            <th><h5>Contact Groups</h5></th>
            <th><h5>Activate</h5></th>
            <th><h5>Delete</h5></th>
            </tr>
        </thead>
        <tbody >
            {% for group in contact_groups %}
            <tr>
                <td><h6 data-toggle="modal" data-target="#exampleeditModal{{group.id}}">{{group}}</h6></td>
                <td><h6><label class="switch">
                    {% if group.is_active %}
                    <input type="checkbox" id="group_enable{{group.id}}" name="{{group.id}}" value="{{group.is_active}}" checked>
                    {% else %}
                    <input type="checkbox" id="group_enable{{group.id}}" name="{{group.id}}" value="{{group.is_active}}">
                    {% endif %}
                    <span class="slider round"></span>
                </label></h6></td>
                <td ><h6 class="ml-2"><a href="javascript:void(0)" class="text-danger" data-toggle="modal" data-target="#myModal{{group.id}}"><i class="fa fa-trash"></i></a></h6></td>
            </tr>

            <script>
                    $(document).ready(()=>{
                    $('#group_enable{{group.id}}').change(function() {
                        $.post("{% url 'contacts-groups' %}", {
                            action_type:'enable_contact_group',
                            id: this.name,
                            is_active: this.checked,
                            csrfmiddlewaretoken: '{{ csrf_token }}'
                        });
                    });
                    })
                </script>

                {% endfor %}

        </tbody>
        </table>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="{% url 'contacts-groups' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Contacts Group</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row p-2">
                        <span class="mb-1">Name :</span>
                        {{ contactgroupform.name }}
                    </div>
                    {% if user.is_superuser %}
                    <div class="row p-2">
                    <label for="client">Client :</label>
                        <select name="client" id="client" class="form-control" >
                            <option value="{{client.id}}" selected >{{client}}</option>
                            {% for client in clients %}
                                <option value="{{client.id}}">{{client}}</option>
                            {% endfor %}
                        </select>
                        </div>
                    {% endif %}
                    <div class="row p-2">
                        <span class="mb-1">Active :</span>
                        {{ contactgroupform.is_active }}
                    </div>
                    <div class="row p-2">
                        <span class="mb-1">Create Date :</span>
                        {{ contactgroupform.create_date }}
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary btn-sm">Add</button>
                </div>
            </form>
        </div>
        </div>
    </div>
    




{% endblock %}

{% block add_script %}



{% endblock%}