{% extends "smsapp/index.html" %}

{% block title %}Speedwise : Contacts{% endblock %}

{% block navbar_title %}Contacts{% endblock %}

{% block content %}
    <div class="">
        <button class="btn btn-success btn-sm  float-right mr-5" data-toggle="modal" data-target="#exampleModal"> <i class="nc-icon nc-simple-add mr-1"></i>Add</button>
        <button class="btn btn-success btn-sm  float-right mr-2" data-toggle="modal" data-target="#importModal"> <i class="nc-icon nc-cloud-download-93 mr-1" ></i>Import</button>
    </div>
    <div class="table mt-4" style="width: 96% !important;">
        <table class="table  mt-4 ml-4" style="width:100%;">
        <thead class="text-primary">
            <tr class="mt-0" >
            <th><h5>Contacts</h5></th>
            <th><h5>Country</h5></th>
            <th><h5>Activate</h5></th>
            <th><h5>Delete</h5></th>
            </tr>
        </thead>
        <tbody >
            {% for contact in contacts %}
            <tr>
                <td><h6 data-toggle="modal" data-target="#exampleeditModal{{contact.id}}">{{contact}}</h6></td>
                <td><h6>{{contact.country}}</h6></td>
                <td><h6><label class="switch">
                    {% if contact.is_active %}
                    <input type="checkbox" id="contact_enable" name="{{contact.id}}" value="{{contact.is_active}}" checked>
                    {% else %}
                    <input type="checkbox" id="contact_enable" name="{{contact.id}}" value="{{contact.is_active}}">
                    {% endif %}
                    <span class="slider round"></span>
                </label></h6></td>
                <td ><h6 class="ml-2"><a href="javascript:void(0)" class="text-danger" data-toggle="modal" data-target="#myModal"><i class="fa fa-trash"></i></a></h6></td>
            </tr>
            <!-- Modal edit -->
            <div class="modal fade" id="exampleeditModal{{contact.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form action="{% url 'contacts' %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Contacts Profile</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <input type="text" name="contact_id" class="form-control" value="{{contact.id}}">
                            <label for="name"> Name :</label>
                            <input type="text" name="name" class="form-control" value="{{contact.name}}">
                            <label for="mobile"> Mobile :</label>
                            <input type="text" name="mobile" class="form-control" value="{{contact.mobile}}">
                            <label for="clients">Clients :</label>
                            <select name="clients" id="clients" class="form-control">
                                <option value="{{contact.client.id}}" selected >{{contact.client}}</option>
                            </select>
                            <label for="country">Country :</label>
                            <select name="country" id="country" class="form-control" >
                                <option value="{{contact.country.id}}" selected >{{contact.country}}</option>
                            </select>
                            <div class="mt-1">
                                <label for="country">Status :</label>
                                <input type="checkbox" name="active_status" class="mt-1" value="{{contact.is_active}}">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary btn-sm">change</button>
                        </div>
                    </form>
                </div>
                </div>
            </div>
            <!-- edit modal end  -->
            <!-- Modal HTML -->
            <div id="myModal" class="modal fade">
                <div class="modal-dialog modal-confirm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="row " style="margin-left: 120px;">
                                <div class="icon-box">
                                    <i class="fas fa-times"></i>
                                </div>	
                            </div>
                            <div class="row">
                                
                            </div>
                                                
                            
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>
                        <div class="modal-body">
                            <h4 class="mb-3 mt-0">Are you sure?</h4>
                            <p>Do you really want to delete these records? This process cannot be undone.</p>
                        </div>
                        <div class="modal-footer row" style="padding: 12px 53px 25px;">
                            <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
                            <a href="{% url 'deletecontact' contact.id%}" class="btn btn-danger text-white pt-2">Delete</a>
                        </div>
                    </div>
                </div>
            </div>  
            <!-- delete modal end  -->
            {% endfor %}

        </tbody>
        </table>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="{% url 'contacts' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Contacts</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ contactsform.as_p }}
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary btn-sm">Add</button>
                </div>
            </form>
        </div>
        </div>
    </div>
    
    <!-- Modal Import  -->
    <div class="modal fade" id="importModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <form action="{% url 'importcontact' %}" method="POST" enctype="multipart/form-data" >
                        {% csrf_token %}
                        <div class="modal-header bg-success">
                        <h5 class="modal-title text-white" id="exampleModalLongTitle">Upload CSV File</h5>
                        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body bg-light">
                            <input type="file" name=file_upload class="dropify" data-allowed-file-extensions="csv xlsx" required>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success btn-sm shadow">Import <i class="dripicons-cloud-download"></i></button>
                        </div>
                    </form>

                </div>
                </div>
            </div>

    



{% endblock %}

{% block add_script %}
<script
src="https://code.jquery.com/jquery-2.2.4.js"
integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
crossorigin="anonymous">
</script>
<script>
    $(document).ready(()=>{
    
    $('li').removeClass('active')
    $('#li4').addClass('active')
    $('#contact_enable').change(function() {
        $.post("{% url 'contacts' %}", {
            action_type:'enable_contact',
            id: this.name,
            is_active: this.checked,
            csrfmiddlewaretoken: '{{ csrf_token }}'
        });
    });
    })

   
    
</script>
{% endblock%}