{% extends "smsapp/index.html" %}

{% load static %}

{% block title %}Speedwise : Authentication {% endblock %}

{% block navbar_title %} Authentication{% endblock %}
{% block css %}

{% endblock %}

{% block link %}
  <ul class="navbar-nav">
    <a href="{% url 'messaging' %}" class="ml-2">Back</a>
  </ul>
{% endblock %}

{% block content %}
    {% if secret_key %}
    <form class="form" action="{% url 'enable-2fa' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
    <input type="hidden" name="disable_2fa" value="disable_2fa">
    
    <br><br><br>
    <div class="row">
        <div class="col-12 text-center text-danger p-2">
           <h5>Scan This QR Code</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center p-2">
            <canvas id="qr-code" class="shadow"></canvas>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center mb-3">
            <button type="submit" class="btn btn-danger btn-round btn-wd btn-sm shadow">Disable Two Factor Authentication</button>
        </div>
    </div>
    </form>
    {% else %}
    <form class="form" action="{% url 'enable-2fa' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row justify-content-center">
            <div class="col-6">
                <div class="">
                    <div class="card-header text-center">
                        <h4 class="text-danger">Enable Multifactor Authentication</h4>
                    </div>
                    <div class="card-body p-5">
                        <p class="text-secondary">Adding one more step of authenticating your identity makes it harder for an attacker to access your data. This drastically reduces the chances of fraud, data loss, or identity theft</p>
                    </div>
                    <div class="row">
                        <div class="col-6 pl-5 pr-1 pb-4">
                            <button type="submit" class="btn btn-success btn-block btn-wd btn-sm shadow mb-2">Enable</button>
                        </div>
                        <div class="col-6 pr-5 pl-1 pb-4">
                            <a href="{% url 'messaging' %}" class="btn btn-danger btn-block btn-wd btn-sm shadow mb-2">Back</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    {% endif %}
  
{% endblock %}

{% block add_script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qrious/4.0.2/qrious.min.js"></script>
    <script>
        /* JS comes here */
        var qr;
        (function() {
                qr = new QRious({
                element: document.getElementById('qr-code'),
                size: 300,
                value: '{{secret_url}}'
            });
        })();

    </script>
{% endblock %}%}
