{% extends "smsapp/index.html" %}

{% block title %}Speedwise : messaging {% endblock %}

{% block navbar_title %}Messaging{% endblock %}

{% block content %}
    <div class="">
        <button class="btn btn-success btn-sm  float-right mr-5" data-toggle="modal" data-target="#exampleModal"> <i class="nc-icon nc-simple-add mr-1"></i>Add</button>
    </div>
    <div class="table mt-4" style="width: 96% !important;">
        <table class="table  mt-4 ml-4" style="width:100%;">
        <thead class="text-primary">
            <tr class="mt-0" >
            <th><h5>Messages</h5></th>
            <th><h5>Edit</h5></th>
            <th><h5>Delete</h5></th>
            </tr>
        </thead>
        <tbody >
            {% for message in messages %}
            <tr>
            <td><h6>{{message}}</h6></td>
            <td ><h6 class="ml-2"><a href="javascript:void(0)" class="text-secondary" data-toggle="modal" data-target="#exampleeditModal{{message.id}}"><i class="fa fa-edit"></i></a></h6></td>
            <td ><h6 class="ml-2"><a href="javascript:void(0)" data-toggle="modal" data-target="#myModal{{message.id}}" class="text-danger"><i class="fa fa-trash"></i></a></h6></td>
            </tr>
            <!-- Modal edit -->
            <div class="modal fade" id="exampleeditModal{{message.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Message Profile</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <label for="name"> Client :</label>
                            <select name="name" id="name" class="form-control">
                                <option value="{{message.client}}" selected>{{message.client}}</option>
                            </select>
                            <label for="contact"> Contact :</label>
                            <select name="contact" id="contact" class="form-control">
                                <option value="{{message.contact}}" selected>{{message.contact}}</option>
                            </select>
                            <label for="template"> Template :</label>
                            <select name="template" id="template" class="form-control">
                                <option value="{{message.template}}" selected>{{message.template}}</option>
                            </select>
                            <label for="msgout">Message Out :</label>
                            <textarea name="msgout" id="msgout"  value="{{message.message_out}}" class="form-control"></textarea>
                            <label for="msgrply">Message Replay :</label>
                            <textarea name="msgrply" id="msgrply"  value="{{message.message_replay}}" class="form-control"></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary btn-sm">change</button>
                        </div>
                    </form>
                </div>
                </div>
            </div>
            <!-- edit modal end  -->
            <!-- Modal HTML -->
          <div id="myModal{{message.id}}" class="modal fade">
            <div class="modal-dialog modal-confirm">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="row " style="margin-left: 120px;">
                            <div class="icon-box">
                                <i class="fas fa-times"></i>
                            </div>	
                        </div>
                        <div class="row">
                            
                        </div>
                                            
                        
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <h4 class="mb-3 mt-0">Are you sure?</h4>
                        <p>Do you really want to delete these records? This process cannot be undone.</p>
                    </div>
                    <div class="modal-footer row" style="padding: 12px 53px 25px;">
                        <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
                        <a href="{% url 'deletemessage' message.id %}" class="btn btn-danger text-white pt-2">Delete</a>
                    </div>
                </div>
            </div>
        </div>  
        <!-- delete modal end  -->
            {% endfor %}

        </tbody>
        </table>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="{% url 'messaging' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Message</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="msg" class="">
                        <div>
                            <label for="client">Client :</label>
                            {{ messagingform.client }}
                        </div>
                        <div>
                            <label for="tmp">Template :</label>
                            {{ messagingform.template }}
                        </div>
                        <div>
                            <label for="msg_out">Message :</label>
                            {{ messagingform.message_out }}
                        </div>
                    </div>
                    <div class="d-none" id="contactsTable">
                        <table id="table_id" class="display">
                            <tr>
                                <th>Name</th>
                                <th>Select</th>
                            </tr>
                            {% for name in contacts %}
                            <tr>
                                <td>{{name}}</td>
                                <td><input type="checkbox" onclick="add_id({{name.id}})"></td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="hidden" name="contactsList"  id="con" value="">
                    <button type="button" class="btn btn-primary btn-sm" id="next" onclick="rem()">Next</button>
                    <button type="submit" class="btn btn-primary btn-sm d-none" id="submit">Send</button>
                </div>
            </form>
        </div>
        </div>
    </div>
    {% endblock %}

    {% block add_script %}
    
        <script
            src="https://code.jquery.com/jquery-2.2.4.js"
            integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
            crossorigin="anonymous">
        </script>
        <script>
            $(document).ready(()=>{
              console.log("reshmi raj")
              $('li').removeClass('active')
              $('#li1').addClass('active')
            })
          </script>
        <script>
            $(document).ready( function () {
                $('#table_id').DataTable();
            } );
        </script>
        <script>
            let rem = ()=>{
                $('#msg').addClass('d-none')
                $('#contactsTable').removeClass('d-none')
                $('#submit').removeClass('d-none')
                $('#next').addClass('d-none')
            }
        </script>
        <script>
            let array=[]
            const add_id = (data)=>{
                console.log(data)
                array.push(data)
                console.log(array)
                $('#con').attr('value',`${array}`)
            }
        </script>
    {% endblock %}
    

    