{% extends "smsapp/index.html" %}

{% block title %}Speedwise : MMS messaging {% endblock %}

{% block navbar_title %}MMS Messaging{% endblock %}

{% block content %}
    <div class="">
        <button class="btn btn-success btn-sm  float-right mr-5" data-toggle="modal" data-target="#exampleModal"> <i class="nc-icon nc-simple-add mr-1"></i>Add</button>
    </div>
    <div class="table mt-4" style="width: 96% !important;">
        <table class="table  mt-4 ml-4" style="width:100%;">
            <thead class="text-primary">
                <tr class="mt-0" >
                <th><h5>Messages</h5></th>
                <th><h5>Chat</h5></th>
                <th><h5>Delete</h5></th>
                </tr>
            </thead>
            <tbody >
                {% for message in messages_threads %}
                <tr>
                <td><h6><a href="javascript:void(0)" class="btn btn-link btn-info">{{message.contact}}</a></h6></td>
                <td><h5 class="ml-2"><a href="javascript:void(0)" data-toggle="modal" data-target="#msgModal{{message.id}}" class="text-success"><i class=" fas fa-comments"></i></a></h5></td>
                <td ><h6 class="ml-2"><a href="javascript:void(0)" data-toggle="modal" data-target="#myModal{{message.id}}" class="text-danger"><i class="fa fa-trash"></i></a></h6></td>
                </tr>
                <!-- Modal Chat -->
                <div class="modal fade" id="msgModal{{message.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <form action="" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Conversation</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <section class="">
                                    <main class="msger-chat">
                                      {% for msg in message.message %}
                                        {% if msg.is_inbound == False %}
                                        <div class="msg left-msg">
                                          <div
                                          class="msg-img"
                                          style="background-image: url(https://image.flaticon.com/icons/svg/327/327779.svg)"
                                          ></div>
                                    
                                          <div class="msg-bubble">
                                            <div class="msg-info">
                                              <div class="msg-info-name">{{msg.client}}</div>
                                              <div class="msg-info-time">{{msg.create_date}}</div>
                                            </div>
                                    
                                            <div class="msg-text">
                                              {{msg}}
                                            </div>
                                          </div>
                                        </div>
                                        {% else %}
                                        <div class="msg right-msg">
                                          <div
                                          class="msg-img"
                                          style="background-image: url(https://image.flaticon.com/icons/svg/145/145867.svg)"
                                          ></div>
                                    
                                          <div class="msg-bubble">
                                            <div class="msg-info">
                                              <div class="msg-info-name">{{message.contact}}</div>
                                              <div class="msg-info-time">{{msg.create_date}}</div>
                                            </div>
                                    
                                            <div class="msg-text">
                                              {{msg}}
                                            </div>
                                          </div>
                                        </div>
                                        {% endif %}
                                      {% endfor %}
                                    </main>
                                  </section>
                            </div>
                            
                        </form>
                    </div>
                    </div>
                </div>
                <!-- edit modal end  -->
                <!-- Modal HTML -->
              <div id="myModal{{message.id}}" class="modal fade">
                <div class="modal-dialog modal-confirm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="row " style="margin-left: 120px;">
                                <div class="icon-box">
                                    <i class="fas fa-times"></i>
                                </div>	
                            </div>
                            <div class="row">
                                
                            </div>
                                                
                            
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>
                        <div class="modal-body">
                            <h4 class="mb-3 mt-0">Are you sure?</h4>
                            <p>Do you really want to delete these records? This process cannot be undone.</p>
                        </div>
                        <div class="modal-footer row" style="padding: 12px 53px 25px;">
                            <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
                            <a href="" class="btn btn-danger text-white pt-2">Delete</a>
                        </div>
                    </div>
                </div>
            </div>  
            <!-- delete modal end  -->
            {% endfor %}
    
            </tbody>
            </table>
        </div>
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form action="{% url 'mmsmessaging' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add Message</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div id="msg" class="">
                            {% if user.is_superuser %}
                            <div>
                                <label for="client">Client :</label>
                                {{ mmsmessagingform.client }}
                            </div>
                            {% endif %}
                            <div>
                                <label for="tmp">Template :</label>
                                <select name="" id="tmp" class="form-control" onchange="add_temp()">
                                    <option value="1" selected hidden>None</option>
                                    {% for tmp in templates %}
                                      <option value="{{tmp.message_template}}">{{tmp}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div>
                                <label for="message_subject">Subject :</label>
                                {{ mmsmessagingform.message_subject }}
                            </div>
                            <div>
                                <label for="msg_out">Message :</label>
                                {{ mmsmessagingform.message }}
                            </div>
                            <div>
                                <label for="attachment">Attachment :</label>
                                <div class="custom-file">
                                    {{ mmsmessagingform.attachment }}
                                    <label class="custom-file-label" for="customFile">Choose file</label>
                                </div>
                            </div>
                        </div>
                        <div class="d-none" id="contactsTable">
                            <table id="table_id" class="display">
                                <thead>
                                    <tr>
                                      <th>Id</th>
                                      <th>Name</th>
                                      <th>Active</th>
                                      <th>Select</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    {% for name in contacts_group %}
                                      <tr>
                                          <td><span class="text-danger">{{name.id}}</span></td>
                                          <td><span class="text-danger">{{name}} Group</span></td>
                                          <td><span class="text-danger">{{name.is_active}}</span></td>
                                          <td><input type="checkbox" onclick="add_id_group({{name.id}})"></td>
                                      </tr>
                                    {% endfor %}
                                    {% for name in contacts %}
                                      <tr>
                                          <td><span class="text-danger">{{name.id}}</span></td>
                                          <td>{{name}}</td>
                                          <td><span class="text-danger">{{name.is_active}}</span></td>
                                          <td><input type="checkbox" onclick="add_id({{name.id}})"></td>
                                      </tr>
                                    {% endfor %}
                                  </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" name="contactsList"  id="con" value="">
                        <input type="hidden" name="contactsgroupList"  id="con_group" value="">
                        <button type="button" class="btn btn-primary btn-sm" id="next" onclick="rem()">Next</button>
                        <button type="submit" class="btn btn-primary btn-sm d-none" id="submit">Send</button>
                    </div>
                </form>
            </div>
            </div>
        </div>
    {% endblock %}

    {% block add_script %}

            <script>
                const color={'bg-success':'#c0ffcc','bg-danger':'#fff0d7','bg-info':'#c9f6ff','bg-warning':'#faf6b0'}
                document.addEventListener("DOMContentLoaded", function(){
                    var styleNode = document.createElement('style');
                    styleNode.type = "text/css";
                    // browser detection (based on prototype.js)
                    if(!!(window.attachEvent && !window.opera)) {
                        styleNode.styleSheet.cssText = '.active::after{border-right: 17px solid '+ color['{{logged_client.color}}']+'!important;border-top: 17px solid transparent;border-bottom: 17px solid transparent;content: "";display: inline-block;position: absolute;right: -2px;opacity: 1;top: 54px;transition: opacity 150ms ease-in;}';
                    } else {
                        var styleText = document.createTextNode('.active::after{border-right: 17px solid'+ color['{{logged_client.color}}']+'!important;border-top: 17px solid transparent;border-bottom: 17px solid transparent;content: "";display: inline-block;position: absolute;right: -2px;opacity: 1;top: 86px;transition: opacity 150ms ease-in;}');
                        styleNode.appendChild(styleText);
                    }
                    document.getElementsByTagName('head')[0].appendChild(styleNode);
                    setTimeout(()=>{
                    $('.panel').addClass('d-none');
                    
                }, 700);
                    $('.sidebar-wrapper').addClass('{{logged_client.color}}')
                    $('.logo').addClass('{{logged_client.color}}')
                    if ('{{logged_client.color}}' !==''){
                        $('.color').addClass('text-dark font-weight-bold')
                    }
                    $('.main-panel').attr('style','height: 1200px;background-color:'+color['{{logged_client.color}}']+'')
                });
            </script>
        <script>
            $(document).ready(()=>{
                $('#myaccount').on('click',()=>{
                    
                    $('#details').toggleClass('d-none')
                    $('#navbarDropdownMenuLink').attr('data-toggle','')
                })
                $('#closebar').on('click',()=>{
                    $('#details').toggleClass('d-none')
                    $('#navbarDropdownMenuLink').attr('data-toggle','dropdown')
                })
              
              $('li').removeClass('active')
              $('#li8').addClass('active')
            })
          </script>
        <script>
            $(document).ready( function () {
                $('#table_id').DataTable();
            } );
        </script>
        <script>
            let rem = ()=>{
                $('#msg').addClass('d-none')
                $('#contactsTable').removeClass('d-none')
                $('#submit').removeClass('d-none')
                $('#next').addClass('d-none')
            }
        </script>
        <script>
            let array_contact=[]
            let array_group=[]
            const add_id = (data)=>{
                array_contact.push(data)
                $('#con').attr('value',`${array_contact}`)
            }
            const add_id_group = (data)=>{
                array_group.push(data)
                $('#con_group').attr('value',`${array_group}`)
            }
            const add_temp = ()=>{
              console.log('resh')
              console.log(document.getElementById('tmp').value)
              const textarea = document.getElementById('id_message')
              textarea.value = document.getElementById('tmp').value
            }
        </script>
        <script>
            // Add the following code if you want the name of the file appear on select
            $(".custom-file-input").on("change", function() {
              var fileName = $(this).val().split("\\").pop();
              $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
            });
        </script>
            
    {% endblock %}


