{% extends "smsapp/index2.html" %}

{% block title %}Speedwise : Reports {% endblock %}

{% block navbar_title %}Reports{% endblock %}

{% block css %}

{% endblock %}

{% block content %}
<div class="row">
	<div class="col-lg-4 col-md-6 col-sm-6 p-3">
	  <div class="card card-stats">
		<div class="card-body ">
		  <div class="row">
			<div class="col-5 col-md-4">
			  <div class="icon-big text-center icon-warning">
				<i class="nc-icon nc-email-85 text-warning"></i>
			  </div>
			</div>
			<div class="col-7 col-md-8">
			  <div class="numbers">
				<p class="card-category">Total SMS</p>
				<p class="card-title">{{total_sms_sent}}<p>
			  </div>
			</div>
		  </div>
		</div>
		<div class="card-footer ">
		  <hr>
		  <div class="stats">
			<i class="fa fa-refresh"></i>
			Till Now
		  </div>
		</div>
	  </div>
	</div>
	<div class="col-lg-4 col-md-6 col-sm-6 p-3">
	  <div class="card card-stats">
		<div class="card-body ">
		  <div class="row">
			<div class="col-5 col-md-4">
			  <div class="icon-big text-center icon-warning">
				<i class="nc-icon nc-email-85 text-success"></i>
			  </div>
			</div>
			<div class="col-7 col-md-8">
			  <div class="numbers">
				<p class="card-category">SMS</p>
				<p class="card-title">{{total_sms_sent_last_month}}<p>
			  </div>
			</div>
		  </div>
		</div>
		<div class="card-footer ">
		  <hr>
		  <div class="stats">
			<i class="fa fa-calendar-o"></i>
			Current Month
		  </div>
		</div>
	  </div>
	</div>
	<div class="col-lg-4 col-md-6 col-sm-6 p-3">
	  <div class="card card-stats">
		<div class="card-body ">
		  <div class="row">
			<div class="col-5 col-md-4">
			  <div class="icon-big text-center icon-warning">
				<i class="nc-icon nc-email-85 text-danger"></i>
			  </div>
			</div>
			<div class="col-7 col-md-8">
			  <div class="numbers">
				<p class="card-category">SMS</p>
				<p class="card-title">{{total_sms_sent_last_week}}<p>
			  </div>
			</div>
		  </div>
		</div>
		<div class="card-footer ">
		  <hr>
		  <div class="stats">
			<i class="fa fa-clock-o"></i>
			Current Week
		  </div>
		</div>
	  </div>
	</div>
  </div>
  {% if user.is_superuser %}
  <div class="row">
	<div class="col-lg-6 col-md-6 col-sm-6 p-3">
		<div class="card card-stats">
		  <div class="card-body ">
			<div class="row">
			  <div class="col-5 col-md-4">
				<div class="icon-big text-center icon-warning">
				  <img src="https://assets.telnyx.com/assets/logo-dark.adc10.svg"  alt="telynix" height="150.2px">
				</div>
			  </div>
			  <div class="col-7 col-md-8">
				<div class="numbers">
				  <h6 class="card-category">Total SMS</h6>
				  <h4 class="card-title pl-2">{{total_sms_sent_telnyx}}<h4>
				</div>
			  </div>
			</div>
		  </div>
		  <div class="card-footer ">
			<hr>
			<div class="stats">
				<i class="fa fa-refresh"></i>
				Till Now
			</div>
		  </div>
		</div>
	</div>
	<div class="col-lg-6 col-md-6 col-sm-6 p-3">
		<div class="card card-stats">
		  <div class="card-body ">
			<div class="row">
			  <div class="col-5 col-md-4">
				<div class="icon-big text-center icon-warning">
				  <img src="https://www.thinq.com/wp-content/uploads/2019/07/thinq-log.svg" width="80%" alt="thinq" height="150.2 px">
				</div>
			  </div>
			  <div class="col-7 col-md-8">
				<div class="numbers">
				  <h6 class="card-category">Total SMS</h6>
				  <h4 class="card-title pl-2">{{total_sms_sent_thinq}}</h4>
				</div>
			  </div>
			</div>
		  </div>
		  <div class="card-footer ">
			<hr>
			<div class="stats">
				<i class="fa fa-refresh"></i>
				Till Now
			</div>
		  </div>
		</div>
	  </div>
  </div>
  {% else %}
  <div class="row">
	<div class="col-lg-6 col-md-6 col-sm-6 p-3">
		<div class="card card-stats">
		  <div class="card-body ">
			<div class="row">
			  <div class="col-5 col-md-4">
				<div class="icon-big text-center text-white bg-success border border-success mt-3">
				  <i class="fas fa-check p-4"></i>
				</div>
			  </div>
			  <div class="col-7 col-md-8">
				<div class="numbers">
				  <h6 class="card-category">Available Credit</h6>
				  <h4 class="card-title pl-2">{{logged_client.credit}}</h4>
				</div>
			  </div>
			</div>
		  </div>
		  <div class="card-footer ">
			<hr>
			<div class="stats">
				<i class="fa fa-refresh"></i>
				Till Now
			</div>
		  </div>
		</div>
	  </div>
	<div class="col-lg-6 col-md-6 col-sm-6 p-3">
		<div class="card card-stats">
		  <div class="card-body ">
			<div class="row">
			  <div class="col-5 col-md-4">
				<div class="icon-big text-center text-white bg-warning mt-3 border border-warning">
				  <i class="fas fa-exclamation p-4"></i>
				</div>
			  </div>
			  <div class="col-7 col-md-8">
				<div class="numbers">
				  <h6 class="card-category">Credit Limit</h6>
				  <h4 class="card-title pl-2">{{logged_client.credit_limit}}</h4>
				</div>
			  </div>
			</div>
		  </div>
		  <div class="card-footer ">
			<hr>
			<div class="stats">
				<i class="fa fa-refresh"></i>
				Till Now
			</div>
		  </div>
		</div>
	  </div>
  </div>
  {% endif %}
  <div class="row">
	  <div class="col-lg-6 col-md-6 col-sm-6 p-3">
		<div class="card card-stats p-3">
			<div class="row ">
				<div class="col-12 text-center">
					<p class="text-secondary font-weight-bold">SMS sent and received over 3 Months</p>
				</div>
			</div>
			<canvas id="myChart"></canvas>
		</div>
	  </div>
	  <div class="col-lg-6 col-md-6 col-sm-6 p-3">
		<div class="card card-stats p-3">
			<div class="row ">
				<div class="col-12 text-center">
					<p class="text-secondary font-weight-bold">SMS to each group</p>
				</div>
			</div>
			<canvas id="myChart2" class="p-2"></canvas>
		</div>
	  </div>
  </div>


{% endblock %}

{% block add_script %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<!-- charts -->
<script>
var ctx = document.getElementById('myChart').getContext('2d');
var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'bar',

    // The data for our dataset
    data: {
        labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
        datasets: [{
            label: 'My First dataset',
            backgroundColor: 'rgb(255, 99, 132)',
            borderColor: 'rgb(255, 99, 132)',
            data: [0, 10, 5, 2, 20, 30, 45]
        }]
    },

    // Configuration options go here
    options: {scales: {
            xAxes: [{
                stacked: true
            }],
            yAxes: [{
                stacked: true
            }]
        }}
});
</script>
<!-- end chart  -->
<!-- pie chart -->
<script>
	var ctx = document.getElementById('myChart2').getContext('2d');
	var myPieChart = new Chart(ctx, {
    type: 'pie',
    data: {
        labels: ['Red',
        'Yellow',
        'Blue'],
        datasets: [{
        data: [10, 20, 30],
		backgroundColor: ['rgb(255, 99, 132)','#fbc658','#0c78e5'],
        borderColor: ['rgb(255, 99, 132)','#fbc658','#0c78e5'],
    }]
    },
    
});
</script>
<!-- pie chart end  -->
<script>
	const color={'bg-success':'#c0ffcc','bg-danger':'#fff0d7','bg-info':'#c9f6ff','bg-warning':'#faf6b0'}
	document.addEventListener("DOMContentLoaded", function(){
		var styleNode = document.createElement('style');
          styleNode.type = "text/css";
          // browser detection (based on prototype.js)
          if(!!(window.attachEvent && !window.opera)) {
              styleNode.styleSheet.cssText = '.active::after{border-right: 17px solid '+ color['{{logged_client.color}}']+'!important;border-top: 17px solid transparent;border-bottom: 17px solid transparent;content: "";display: inline-block;position: absolute;right: -2px;opacity: 1;top: 27px;transition: opacity 150ms ease-in;}';
          } else {
              var styleText = document.createTextNode('.active::after{border-right: 17px solid'+ color['{{logged_client.color}}']+'!important;border-top: 17px solid transparent;border-bottom: 17px solid transparent;content: "";display: inline-block;position: absolute;right: -2px;opacity: 1;top: 325px;transition: opacity 150ms ease-in;}');
              styleNode.appendChild(styleText);
          }
          document.getElementsByTagName('head')[0].appendChild(styleNode);
		setTimeout(()=>{
            $('.panel').addClass('d-none');
            
          }, 500);
		$('li').removeClass('active')
      	$('#li7').addClass('active')
		$('.sidebar-wrapper').addClass('{{logged_client.color}}')
		$('.logo').addClass('{{logged_client.color}}')
		if ('{{logged_client.color}}' !==''){
			$('.color').addClass('text-dark font-weight-bold')
		}
		$('.main-panel').attr('style','height: 1200px;background-color:'+color['{{logged_client.color}}']+'')
	  });
  </script>
<script type="text/javascript" src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>
<script type="text/javascript">
$(function() {
	$(".chartContainer").CanvasJSChart({
		title: {
			text: "Monthly Rainfall in Columbus - 1996"
		},
		axisY: {
			title: "Rainfall in mm",
			includeZero: false
		},
		axisX: {
			interval: 1
		},
		data: [
		{
			type: "line", //try changing to column, area
			toolTipContent: "{label}: {y} mm",
			dataPoints: [
				{ label: "Jan",  y: 5.28 },
				{ label: "Feb",  y: 3.83 },
				{ label: "March",y: 6.55 },
				{ label: "April",y: 4.81 },
				{ label: "May",  y: 2.37 },
				{ label: "June", y: 2.33 },
				{ label: "July", y: 3.06 },
				{ label: "Aug",  y: 2.94 },
				{ label: "Sep",  y: 5.41 },
				{ label: "Oct",  y: 2.17 },
				{ label: "Nov",  y: 2.17 },
				{ label: "Dec",  y: 2.80 }
			]
		}
		]
	});
});
</script>
<script type="text/javascript" src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script> 
<script type="text/javascript" src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script> 
<script type="text/javascript"> 
window.onload = function() { 
	$("#chartContainer").CanvasJSChart({ 
		title: { 
			text: "Worldwide Smartphone sales by brand - 2012",
			fontSize: 24
		}, 
		axisY: { 
			title: "Products in %" 
		}, 
		legend :{ 
			verticalAlign: "center", 
			horizontalAlign: "right" 
		}, 
		data: [ 
		{ 
			type: "pie", 
			showInLegend: true, 
			toolTipContent: "{label} <br/> {y} %", 
			indexLabel: "{y} %", 
			dataPoints: [ 
				{ label: "Samsung",  y: 30.3, legendText: "Samsung"}, 
				{ label: "Apple",    y: 19.1, legendText: "Apple"  }, 
				{ label: "Huawei",   y: 4.0,  legendText: "Huawei" }, 
				{ label: "LG",       y: 3.8,  legendText: "LG Electronics"}, 
				{ label: "Lenovo",   y: 3.2,  legendText: "Lenovo" }, 
				{ label: "Others",   y: 39.6, legendText: "Others" } 
			] 
		} 
		] 
	}); 
} 
</script> 
{% endblock%}

        