<div class="sidebar" data-color="white" data-active-color="danger">
    <div class="logo">
      <a href="https://www.creative-tim.com" class="simple-text logo-mini">
        <!-- <div class="logo-image-small">
          <img src="{% static '/assets/img/logo-small.png">
        </div> -->
        <!-- <p>CT</p> -->
      </a>
      <a href="https://www.creative-tim.com" class="simple-text logo-normal">
        Speedwise
        <!-- <div class="logo-image-big">
          <img src=".{% static '/assets/img/logo-big.png">
        </div> -->
      </a>
    </div>
    <div class="sidebar-wrapper">
      <ul class="nav">
        <li>
            <a href="{% url 'messaging' %}">
              <i class="nc-icon nc-email-85"></i>
              <p>messaging</p>
            </a>
        </li>
        <li class="active ">
          <a href="{% url 'clients' %}">
            <i class="nc-icon nc-circle-10"></i>
            <p>Clients</p>
          </a>
        </li>
        <li>
          <a href="{% url 'operators' %}">
            <i class="nc-icon nc-chat-33"></i>
            <p>Operators</p>
          </a>
        </li>
        <li>
          <a href="{% url 'contacts' %}">
            <i class="far fa-address-book"></i>
            <p>Contacts</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
  