<div class="sidebar" data-color="white" data-active-color="danger">
    <div class="logo">
      <a href="javascript:void(0)" class="simple-text logo-mini">
        
      </a>
      <a href="javascript:void(0)" class="simple-text logo-normal mr-3">
        
        
          <img src="/media/media/logos/Speedwise.png" alt="logo" >
        
      </a>
    </div>
    <div class="sidebar-wrapper">
      <ul class="nav">
        <li  id="li1">
            <a href="{% url 'messaging' %}">
              <i class="nc-icon nc-email-85"></i>
              <p>messaging</p>
            </a>
        </li>
        {% if user.is_superuser %}
        <li  id="li2">
          <a href="{% url 'clients' %}">
            <i class="nc-icon nc-circle-10"></i>
            <p>Clients</p>
          </a>
        </li>
        {% endif %}
        {% if user.is_superuser %}
        <li  id="li3">
          <a href="{% url 'operators' %}">
            <i class="nc-icon nc-chat-33"></i>
            <p>Operators</p>
          </a>
        </li>
        {% endif %}

        <li id="li4">
          <a href="{% url 'contacts' %}">
            <i class="far fa-address-book"></i>
            <p>Contacts</p>
          </a>
        </li>
        {% if user.is_superuser %}
        <li id="li5">
          <a href="{% url 'countries' %}">
            <i class="fas fa-globe-americas"></i>
            <p>Blacklistings</p>
          </a>
        </li>
        {% endif %}
        <li id="li6">
          <a href="{% url 'templates' %}">
            <i class="fas fa-mail-bulk"></i>
            <p>Templates</p>
          </a>
        </li>
        <li id="li7">
          <a href="{% url 'reports' %}">
            <i class="nc-icon nc-sound-wave"></i>
            <p>Reports</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
  

  
  