{% extends "smsapp/index.html" %}

{% block title %}Speedwise :Templates{% endblock %}

{% block navbar_title %}Message Templates{% endblock %}

{% block content %}
    <div>
        <button class="btn btn-success btn-sm  float-right mr-5 mt-3" data-toggle="modal" data-target="#exampleModal"> <i class="nc-icon nc-simple-add mr-1"></i>Add</button>
    </div>
    <div class="row p-4">
        {% for tmp in templates %}
            <div class="col-4">
                <div class="card shadow">
                    <div class="card-header">
                        <div class="title text-primary">{{tmp.message_title}}</div>
                    </div>
                    <div class="card-body">
                        <hr>
                        <div class="description">{{tmp.message_template}}</div>
                    </div>
                    <div class="card-footer">
                        <hr>
                        <div class="row">
                            <div class="col-12">
                                <h6 class="text-center text-primary">{{ tmp.created_by }}<br><small class="text-secondary">Creator</small></h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="{% url 'templates' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Template</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row p-2">
                        <span class="mb-1">Message title:</span>
                        {{ templateform.message_title }}
                    </div>
                    <div class="row p-2">
                        <span class="mb-1">Message template:</span>
                        {{ templateform.message_template }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary btn-sm">Add</button>
                </div>
            </form>
        </div>
        </div>
    </div>
{% endblock %}

{% block add_script %}
<script>
    const color={'bg-success':'#c0ffcc','bg-danger':'#fff0d7','bg-info':'#c9f6ff','bg-warning':'#faf6b0'}
    document.addEventListener("DOMContentLoaded", function(){
        var styleNode = document.createElement('style');
          styleNode.type = "text/css";
          // browser detection (based on prototype.js)
          if(!!(window.attachEvent && !window.opera)) {
              styleNode.styleSheet.cssText = '.active::after{border-right: 17px solid '+ color['{{logged_client.color}}']+'!important;border-top: 17px solid transparent;border-bottom: 17px solid transparent;content: "";display: inline-block;position: absolute;right: -2px;opacity: 1;top: 27px;transition: opacity 150ms ease-in;}';
          } else {
              var styleText = document.createTextNode('.active::after{border-right: 17px solid'+ color['{{logged_client.color}}']+'!important;border-top: 17px solid transparent;border-bottom: 17px solid transparent;content: "";display: inline-block;position: absolute;right: -2px;opacity: 1;top: 265px;transition: opacity 150ms ease-in;}');
              styleNode.appendChild(styleText);
          }
          document.getElementsByTagName('head')[0].appendChild(styleNode);
        setTimeout(()=>{
            $('.panel').addClass('d-none');
          }, 700);
        $('.sidebar-wrapper').addClass('{{logged_client.color}}')
        $('.logo').addClass('{{logged_client.color}}')
        if ('{{logged_client.color}}' !==''){
			$('.color').addClass('text-dark font-weight-bold')
		}
        $('.main-panel').attr('style','height: 1200px;background-color:'+color['{{logged_client.color}}']+'')
      });
  </script>
<script>
    $(document).ready(()=>{
    $('li').removeClass('active')
    $('#li6').addClass('active')
    
    })
</script>
{% endblock%}









<!-- <!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<form action="{% url 'templates' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ templateform.as_p }}
    <input type="submit">
</form>
</body>
</html> -->