{% extends "smsapp/index.html" %}

{% block title %}Speedwise :Templates{% endblock %}

{% block navbar_title %}Message Templates{% endblock %}

{% block content %}
    <div>
        <button class="btn btn-success btn-sm  float-right mr-5 mt-3" data-toggle="modal" data-target="#exampleModal"> <i class="nc-icon nc-simple-add mr-1"></i>Add</button>
    </div>
    <div class="row p-4">
        {% for tmp in templates %}
            <div class="col-4">
                <div class="card shadow">
                    <div class="card-header">
                        <div class="title text-primary">{{tmp.message_title}}</div>
                    </div>
                    <div class="card-body">
                        <hr>
                        <div class="description">{{tmp.message_template}}</div>
                    </div>
                    <div class="card-footer">
                        <hr>
                        <div class="row">
                            <div class="col-12">
                                <h6 class="text-center">{{ tmp.created_by }}<br><small>Creator</small></h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="{% url 'templates' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Template</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ templateform.as_p }}
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary btn-sm">Add</button>
                </div>
            </form>
        </div>
        </div>
    </div>
{% endblock %}

{% block add_script %}
<script
src="https://code.jquery.com/jquery-2.2.4.js"
integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
crossorigin="anonymous">
</script>
<script>
    $(document).ready(()=>{
    console.log("reshmi raj")
    $('li').removeClass('active')
    $('#li6').addClass('active')
    })
</script>
{% endblock%}









<!-- <!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<form action="{% url 'templates' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ templateform.as_p }}
    <input type="submit">
</form>
</body>
</html> -->