{% extends "smsapp/index.html" %}

{% load static %}

{% block title %}Speedwise : Authentication {% endblock %}

{% block navbar_title %}Authentication{% endblock %}
{% block css %}

{% endblock %}

{% block link %}
  <ul class="navbar-nav">
    <a href="{% url 'enable-2fa' %}" class="ml-2">Back</a>
  </ul>
{% endblock %}

{% block content %}

<div class="row justify-content-center mt-4">
    <div class="col-6 mt-5">
        <div class=" p-5">
            {% if secret_key %}
            <form class="form" action="{% url '2fa-verify' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="secret_key" value="{{secret_key}}">
                <input type="hidden" name="user" value="{{user}}">
                <input type="text" class="form-control mb-2" name='token' PLACEHOLDER="Enter the OTP">
                <button type="submit" class="btn btn-primary btn-block btn-wd btn-sm shadow mt-2">Login</button>
            </form>
            {% endif %}
            
            {% if disable_secret_key %}
            <form class="form" action="{% url '2fa-verify' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="disable_secret_key" value="{{disable_secret_key}}">
                <input type="hidden" name="user" value="{{user}}">
                <input type="text" class="form-control mb-2" name='token' PLACEHOLDER="Enter the OTP">
                <button type="submit" class="btn btn-primary btn-block btn-wd btn-sm shadow mt-2">Login</button>
            </form>

            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
{% block add_script %}
<script>
    const color={'bg-success':'#c0ffcc','bg-danger':'#fff0d7','bg-info':'#c9f6ff','bg-warning':'#faf6b0'}
    $(document).ready(()=>{
        $('.sidebar-wrapper').addClass('{{logged_client.color}}')
      $('.logo').addClass('{{logged_client.color}}')
      $('').attr('style','border-right: 17px solid #382607;')
      if ('{{logged_client.color}}' !==''){
        $('.color').addClass('text-dark font-weight-bold')

      }
      console.log(color['{{logged_client.color}}'])
    $('.main-panel').attr('style','height: 1200px;background-color:'+color['{{logged_client.color}}']+'')
    $('.border').addClass('border-dark')
    })
</script>
{% endblock %}


